/* Custom font */
p,
div {
  font-family: "Nobile", Helvetica, Arial, sans-serif;
}

.site-footer {
  background-color: #26272b;
  padding: 20px 0 20px 0;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
}
.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
}
